html{
	font-family:Cambria;
	color: #0C2F55;
}


form {
  width:25%;
  margin:20px;
  padding:20px;
}

label{
	font-size:28px;
	font-style:bold;
	display:block;
	width:100%;
	
}

form{
	width:450px;
	padding:16px;
	border:#DF7DBD 4px outset;
	border-radius:10px;
	margin:auto;
	margin-top:100px;
	background-color:#AE7EB1;
	font-style: bold;
	font-size: 40%;
	color: #fff;
}


input{
	margin-bottom:20px;
	width:60%;
	padding:10px;
	box-sizing: border-box;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:20px;
	
}

input:focus{
	border:2px solid #1668C4;
}

input[type="text"]{
	margin-top:7px;
	
}

input[type="password"]{
	margin-top:7px;
}

input[type="submit"]{
	margin-top:13px;
	margin-bottom:0px;
	background:#1668C4;
	color:#fff;
	border:none;
}

input[type="submit"]:hover{
	background:#4A88F4;
	cursor:pointer;
}

input[type="button"]{
	margin-top:13px;
	margin-bottom:0px;
	background:#9C2BA1;
	color:#fff;
	border:none;
}

input[type="button"]:hover{
	background:#BF9FC7;
	cursor:pointer;
}