html{
	font-family:Cambria;
	color: #000000;
}

h1{
	font-size:40px;
	font-style:bold;
	display:block;
	width:100%;
	margin-left:60px;
	
}

h2{
	font-size:40px;
	font-style:bold;
	display:block;
	width:100%;
	margin-left:60px;
}

table{
	background:#CBBFB2;
	border:none;
	border-collapse:collapse;
	border-radius:10px;
	margin:60px auto;
	margin-left:150px;
	width:1000px;
	font-size:23px;
}

th, td{
	padding:20px;
}

th{
	background-color:#533718;
	border-bottom: solid 5px #F7EADC;
	color:white;
	
}

tr:nth-child(even){
	background-color:#A58866;
}

tr:hover{
	background-color:#B3E58E;
}


input[type="button"]{
	margin-top:13px;
	margin-left:20px;
	margin-bottom:0px;
	background:#000000;
	color:#fff;
	border:solid 1px #774C7F;
	border-radius:10px;
	height:60px;
	width:300px;
	font-size:25px;
	font-weight:bold;
	font-family:Arial;
}


input[type="button"]:hover{
	background:#BF9FC7;
	cursor:pointer;
}

a{
	margin-left:40px;
	font-size:30px;
}

